/* styles/Home.css */

.home-container {
  padding: 1rem;
}

.search-cart-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.search-cart-container label {
  display: flex;
  align-items: center;
}

.search-cart-container input {
  padding: 0.5rem;
  margin-right: 0.5rem;
}

.search-cart-container button {
  padding: 0.5rem 1rem;
  margin-right: 1rem;
}

#carrinhoButton {
  padding: 0.5rem 1rem;
  text-decoration: none;
  background-color: #007bff;
  color: white;
  border-radius: 4px;
  border: none;
}

#carrinhoButton:hover {
  background-color: #0056b3;
}
